body{
    font-family:Lato sans-serif;
}
img{
    max-width: 100%;
    object-fit: cover;
    height: auto;
    vertical-align: middle;
}

h2,
.h2
,h3
,h5
,.h5
,.h6
,p{
    margin-bottom: 0;
}

.w-33{
    width: 33.33%;
}
.material-symbols-outlined {
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 20,
        'opsz' 24;
}
.fill-icon-0{
     .material-symbols-outlined {
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 20,
        'opsz' 24;
    }
}